<div id="ballot-contest-container" class="container">
    <div id="ballot-contest-header-row" class="row ballot-contest-header-row">
        <div class="ballot-contest-header">
            <h3>{{  ballotContest.title }}</h3>
            <p>{{ ballotContest.description }}</p>
        </div>
    </div>
    <div id="ballot-contest-control" class="row ballot-contest-control">
        <p id="ballot-contest-control-message">{{ ballotContest.controlMessage }}</p>
        <input type="button" value="Compare" ng-disabled="ballotContest.selectCount != 2">
    </div>
    <div class="row contestant-list-container">
        <div ng-repeat="contestant in ballotContest.contestants">
            <div id="contestant-container-{{ $index }}" class="col-md-12 contestant-container" >
                <div class="row contestant-header">
                    <div class="contestant-thumbnail col-sm-2">
                        <span ng-bind-html="contestant.avatar"></span>
                    </div>
                    <div class="contestant-name col-sm-10">
                        <div class="contestant-nav">
                            <a class="view-questionnaire-button" >View Quesionnaire</a>
                            <div class="compare-control">
                                <label for="compare-check-{{ $index }}">Check to compare</label>
                                <input id="compare-check-{{ $index }}" type="checkbox" ng-model="contestant.selected" ng-click="ballotContest.updateSelectorControl()">
                            </div>
                        </div>
                        <h4>{{ contestant.displayName }} PARTY</h4>
                    </div>
                </div>
                <div class="contestant-detail">
                    <div class="contestant-info">
                        <h5>Experience</h5>
                        <h6>Education:</h6>
                        <h6>Current Occupation:</h6>
                        <h6>Public Service:</h6>
                        <h6>Campaign Address:</h6>
                        <h6>Campaign Website:</h6>
                        <h6>Campaign Email:</h6>
                        <h6>Campaign Phone Number:</h6>
                    </div>
                    <div class="contestant-responses">
                        <div ng-repeat="question in ballotContest.questions">
                            <h5>{{ question.title }}</h5>
                            <div ng-repeat="response in question.responses">
                                <div class="response-container" ng-if="response.author == contestant.ID">
                                    {{ response.content }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ballot-contest-compare-container" class="container">
    <div id="ballot-contest-campare-row" class="row">
        <div ng-repeat="contestant in ballotContest.contestants" class="col-md-6 contestant-compare">
            <contestant-detail ballot-contest="ballotContest" contestant="contestant"></contestant-detail>
        </div>
    </div>
</div>