<div id="ballot-contest-container" class="container">
    <div id="ballot-contest-header-row" class="row ballot-contest-header-row">
        <div class="ballot-contest-header">
            <h3>{{  ballotContest.title }}</h3>
            <p>{{ ballotContest.description }}</p>
        </div>
    </div>
    <div id="ballot-contest-control" class="row ballot-contest-control">
        <p id="ballot-contest-control-message">{{ ballotContest.controlMessage }}</p>
        <input class="compare-button" type="button" value="Compare" ng-disabled="ballotContest.selectCount != 2" ng-click="ballotContest.displayCompareModal()">
    </div>
    <div class="row contestant-list-container">
        <div ng-repeat="contestant in ballotContest.contestants">
            <div id="contestant-container-{{ $index }}" class="col-md-12 contestant-container" >
                <contestant-detail ballot-contest="ballotContest" contestant="contestant"></contestant-detail>
            </div>
        </div>
    </div>
</div>