<div class="contestant-detail-container">
    <div class="row contestant-header" >
        <div class="contestant-thumbnail">
            <span ng-bind-html="contestant.avatar"></span>
        </div>
        <div class="contestant-name">
            <div class="contestant-nav" ng-if="ballotContest.enableContestantNav">
                <a class="view-questionnaire-button" >View Quesionnaire</a>
                <div class="compare-control">
                    <label for="compare-check-{{ $index }}">Check to compare</label>
                    <input id="compare-check-{{ $index }}" type="checkbox" ng-model="contestant.selected" ng-click="ballotContest.updateSelectorControl()">
                </div>
            </div>
            <h4>{{ contestant.displayName }} PARTY</h4>
        </div>
        <div class="contest-detail-toggle" ng-click="contestant.listAsCollapsed = !contestant.listAsCollapsed" ng-if="ballotContest.enableContestantNav"><i class="fa fa-angle-down" ng-if="contestant.listAsCollapsed"></i><i class="fa fa-angle-up" ng-if="!contestant.listAsCollapsed"></i></div>
    </div>
    <div class="contestant-detail" uib-collapse="ballotContest.detailIsCollapsed( contestant )">
        <div class="contestant-info">
            <h5>Experience</h5>
            <h6>Education:</h6>
            <h6>Current Occupation:</h6>
            <h6>Public Service:</h6>
            <h6>Campaign Address:</h6>
            <h6>Campaign Website:</h6>
            <h6>Campaign Email:</h6>
            <h6>Campaign Phone Number:</h6>
        </div>
        <div class="contestant-responses">
            <div ng-repeat="question in ballotContest.questions">
                <h5>{{ question.title }}</h5>
                <div ng-repeat="response in question.responses">
                    <div class="response-container" ng-if="response.author == contestant.ID">
                        {{ response.content }}
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p>
                Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat.

                Vivamus suscipit tortor eget felis porttitor volutpat. Donec sollicitudin molestie malesuada. Donec sollicitudin molestie malesuada.

                Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec sollicitudin molestie malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
            </p>
        </div>
    </div>
</div>