<div id="election-overview-container"  class="container">
    <div id="election-header-row" class="row overview-header-row">
        <div class="election-overview-header">
            <h3> {{ electionOverview.title }}</h3>
            <p> {{ electionOverview.description }}</p>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="jurisdiction-container" ng-repeat="jurisdiction in electionOverview.jurisdictions | orderBy:'-jurisdiction.order'">
            <uib-accordion close-others="true">
                <div uib-accordion-group class="panel-default" is-open="electionOverview.jurisdictions[ $index ].isOpen"  >
                    <uib-accordion-heading>
                        {{ jurisdiction.title }}<i class="pull-right glyphicon" ng-click="electionOverview.toggleJurisdiction( $index )" ng-class="{'glyphicon-chevron-down': !electionOverview.jurisdictions[ $index ].listAsCollapsed, 'glyphicon-chevron-right': electionOverview.jurisdictions[ $index ].listAsCollapsed }"></i>
                    </uib-accordion-heading>
                    <div class="jurisdiction-body-container" ng-repeat="jurisdictionBody in jurisdiction.jurisdiction_bodies | orderBy:'-jurisdictionBody.order'">
                        <h5>{{ jurisdictionBody.title }}</h5>
                        <p>{{ jurisdictionBody.description }}</p>
                        <div class="contest-container" ng-repeat="contest in jurisdictionBody.contests | orderBy:'-contest.order'">
                            <h6>{{ contest.title }}</h6>
                            <p>{{ contest.description }}</p>
                        </div>
                    </div>
                </div>
            </uib-accordion>
        </div>
    </div>
</div>
