/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.alert {
    display:block;
    width:100%;
    padding:.25em .5em;
    font-size:1.25em;
    text-align: center;
    color:white;
    border-radius: 3px;
}

.alert-success {
    background-color:green;
}

.alert-danger {
    background-color:red;
}

.alert-info {
    color: #000000;
}

#response-file-upload {
    display: none;
}


.spinner {
    background: url('/wp-admin/images/spinner-2x.gif') no-repeat;
    background-size: 16px 16px;
    display: none;
    float: none;
    opacity: 1;
    width: 20px;
    height: 20px;
    margin: auto;
    visibility: visible;
}

